
/* other colours to be used for pads  #936cca  #9059c4 */
* {
  font-family: "Inter";
  padding:0;
  margin:0;
  box-sizing: border-box;
    font-size: 0.9vw;
}
i,
svg {
  pointer-events: none;
}


h1 {
  padding: 0.5vw;
  margin: 0.5vw 0.5vw 0.5vw 0.5vw;
  color: #222;
}
.pressed {
  background: rgba(20, 7, 117, 0.2);
  transition-duration: 0.5s;
}

.pianoinner {
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
}

.pianoinner > div {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 0 15px;
  font-size: 16px;
  text-align: center;
  padding: 10px;
}
.play {
  display: flex;
  width: 80px;
  flex-wrap: nowrap;
  padding: 1vw 2vw;
  background: rgb(88, 88, 88);
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 3rem;
}

.save {
  padding: 1vw 2vw;
  width: 80px;
  background: rgb(88, 88, 88);
  color: white;
  border: none;
  cursor: pointer;
  text.align: center;
  margin-top: 3rem;
    display: flex;

}


.note {
  font-weight: bold;
  font-size: 32px;
  color: #140775;
}

.key {
  margin-top: 5px;
  color: #777;
}

.sequencer {
  display: flex;
  height: 75%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 75%;

}

.kick-pad{
display: flex;
    width:80px;
    height:80px;
    margin: 16px 8px;
    cursor: pointer;
    background: #8abadb
}
.snare-pad{
display: flex;
    width:80px;
    height:80px;
    margin: 16px 8px;
    cursor: pointer;
    background: #869fdb
}
.hihat-pad{
display: flex;
    width: 80px;
    height: 80px;
    margin: 16px 8px;
    cursor: pointer;
    background: #8386d3
}
.tom-pad{
display: flex;
    width: 80px;
    height: 80px;
    margin: 16px 8px;
    cursor: pointer;
    background: #936cca
}
.kick-track, .snare-track, .hihat-track, .tom-track{
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 80px;

}
.kick, .snare, .hihat, .tom{
    display:flex;
}

.controls {
display: flex;
    justify-content: space-between;
    align-items: center;
    width: 250px;
    margin: 0px;
}

.controls button {
display: flex;
    padding:2px;
    background: #e3e3e3;
    cursor: pointer;
    transition: all 1s ease;
}

.pad {
    transition: all 0.5s ease;
}
.kick-pad.active{

    background: #6a8da5
}
.snare-pad.active{

    background: #6a7ca7
}
.hihat-pad.active{
    background: #515385
}
.tom-pad.active{
    background: #3e2f52
}
select {
display: flex;
    padding: 1rem;
    font-size: 1rem;
}

.mute.active {
display: flex;
    background: rgb(182, 182, 182);
}

.tempo {
display: flex;
  margin: 48px;
  width: 16px;
}

.tempo-slider {
display: flex;
  text-align:center;
  padding:3px;
  -webkit-appearance: none;
  margin: 16px 0px;
  width: 320px;
  position: relative;
  background: rgb(88, 88, 88);
  cursor: pointer;
  border-radius: 16px;
}

.tempo p{
  margin: 32px;
  font-size: 24px;
  tet-align: center;
}

@keyframes playTrack {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}

*, *::after, *::before {
  box-sizing: border-box;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: white;
  width: 500px;
  max-width: 80%;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.modal-header .title {
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-body {
  padding: 10px 15px;
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}