
/* other colours to be used for pads  #936cca  #9059c4 */
* {
  font-family: "Inter";
  padding:0;
  margin:0;
  box-sizing: border-box;
}
i,
svg {
  pointer-events: none;
}


h1 {
  padding: 0;
  margin: 0 0 20px 0;
  color: #222;
}
.pressed {
  background: rgba(20, 7, 117, 0.2);
  transition-duration: 0.5s;
}

.pianoinner {
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
}

.pianoinner > div {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 0 15px;
  font-size: 16px;
  text-align: center;
  padding: 10px;
}
.play {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  background: rgb(88, 88, 88);
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 3rem;
}


.note {
  font-weight: bold;
  font-size: 32px;
  color: #140775;
}

.key {
  margin-top: 5px;
  color: #777;
}

.sequencer {
  display: flex;
  min-height: 1000px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.kick-pad{
    width:80px;
    height:80px;
    margin: 16px 8px;
    cursor: pointer;
    background: #8abadb
}
.snare-pad{
    width:80px;
    height:80px;
    margin: 16px 8px;
    cursor: pointer;
    background: #869fdb
}
.hihat-pad{
    width: 80px;
    height: 80px;
    margin: 16px 8px;
    cursor: pointer;
    background: #8386d3
}
.tom-pad{
    width: 80px;
    height: 80px;
    margin: 16px 8px;
    cursor: pointer;
    background: #936cca
}
.kick-track, .snare-track, .hihat-track, .tom-track{
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 80px;

}
.kick, .snare, .hihat, .tom{
    display:flex;
}

.controls {
    justify-content: space-between;
    align-items: center;
    width: 250px;
    margin: 0px;
}

.controls button {
    padding:2px;
    background: #e3e3e3;
    cursor: pointer;
    transition: all 1s ease;
}

.pad {
    transition: all 0.5s ease;
}
.kick-pad.active{

    background: #6a8da5
}
.snare-pad.active{

    background: #6a7ca7
}
.hihat-pad.active{
    background: #515385
}
.tom-pad.active{
    background: #3e2f52
}
select {
    padding: 1rem;
    font-size: 1rem;
}

.mute.active {
    background: rgb(182, 182, 182);
}

.tempo {
  margin: 48px;
  width: 16px;
}

.tempo-slider {
  text-align:center
  padding:3px;
  -webkit-appearance: none;
  margin: 16px 0px;
  width: 320px;
  position: relative;
  background: rgb(88, 88, 88);
  cursor: pointer;
  border-radius: 16px;
}

.tempo p{
  margin: 32px;
  font-size: 24px;
  tet-align: center;
}

@keyframes playTrack {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}